name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        # with:
        #   fetch-depth: 1

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image from production stage
        run: |
          docker build --target production -t ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-api:${{ github.sha }} .

      - name: Tag Docker image
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-api:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-api:latest

      - name: Push Docker image to Docker Hub
        run: | 
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-api:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-api:latest

  
      - name: Copy docker-compose.prod.yaml and deploy
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          source: ./docker-compose.prod.yaml
          target: /Node-App/
          

      - name: SSH into VM and deploy using Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd /Node-App/
            docker-compose -f docker-compose.prod.yaml down -v
            docker rmi imdadrakib/docker-node-api:latest
            docker-compose -f docker-compose.prod.yaml up --build -d

